body {
  background-color: $body-bg;
}

main {
  min-height: 80vh;
}

.alert {
  border-radius: 0;
}

// form

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-control {
  border-radius: 0;
}

abbr[title='required'] {
  color: $red;
  text-decoration: none;
}

// button

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: $blue-darker;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}
